/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 24, 18, 12:25:01 AM
    Author     : bryle
*/

body{
    background-color: #fafad2;
}

.nav{
    font-size: 1.5rem;
}

.bg-dark{
    background-color: #2e2e2e;
}

.boi{
    color: #8b0000;
}