 /*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 24, 18, 12:25:01 AM
    Author     : bryle
*/

body{
    background-color: #fafad2;
}

.nav{
    font-size: 1.5rem;
}

.bg-dark{
    background-color: #2e2e2e;
}

.boi{
    color: #8b0000;
}

.link{
    color: #8b0000;
}

.link:hover{
    color: #ff1a1a;
}

#ramenboi{
    width: 30em;
    height: 10em;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
